body {
    background-image: url("../images/hotdogs.jpg");
}

@font-face {
    font-family: myFirstFont;
    src: url("../fonts/Dopestyle.ttf");
}

body h1 {
    font-family: 'myFirstFont';
    margin-left: 15%;
    margin-top: 4%;
    color: white;
    font-size: 60px;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}
#logoutbutton {
    float: right;
}


a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}

.McWrap {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    border-radius: 7px 7px 7px 7px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    font-size: 20px;

}

.McWrap hr {
    width: 85%;
    margin-top: 300px;
}

.McWrap h2 {
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 30px;
    font-weight: 900;
}
.McWrap h3 {
    margin-bottom: 1%;
}
.McWrap p {
    padding: 1% 0 1% 0%;
}


.container {
    margin: 5%;
    padding-bottom: 5%;

}


.containerheadindex h2{
    text-align: center;
    padding-bottom: 5%;
}

.containerheadindex p{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#indexpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;

}

.foodpic {
    float: left;
    padding-bottom: 5%;
    width: 50%;
    min-width: 200px;
    height: auto;
}

.ingredienser {
    float: left;
    margin-left: 10%;
    padding-bottom: 5%;

}

.instructions {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3%;

}

.modal-header {
    background: sandybrown;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.not-filled {
    border: solid 2px red;
    opacity: .8;
}


.comments {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3%;
}

.comment commentbutton{
    color: black;
    margin-left: 70%;
    border: solid 1px;
}

.commentusername {
    padding-top: 15px;
    margin-left: 1em;
}


.comment {
    border-radius: 7px 7px 7px 7px;
    border: 1px solid;
}

.comment p {
    margin-left: 5%;
}
.comment:nth-child(2n) {background: white}
.comment:nth-child(2n+1) {background: #E3B584}

.comments textarea {
    width: 100%;
    height: 100px;
    resize: none;
}
.deletebutton{
    width: auto;
    margin-top: 5px;
    border-radius: 7px 7px 7px 7px;
    padding: 10px;
    background: #f44336;
    border: solid 1px black;
    margin-right: 5px;
    float: right;
}

.commentbutton{
    margin-bottom: 30px;
    border: solid 1px;
    border-color: black;
}
#submit {
    float: right;
    margin-right: 5%;
    margin-bottom: 200px;
}
.commentsarea {
    margin-top: 5%;
}

/* calendar */

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    height: 100px;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
    vertical-align: top;

}
.calpic {
    vertical-align: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    max-height: 63px;
    max-width: 100px;


}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li {width: 13.1%;}
    .days li {width: 13.1%; height: 60px;}
    .mcwrap {margin-left: 5%; margin-right: 5%;}
    #mytopnav a, #navlogin {
        font-size: 15px;
        padding: 14px 6px;
    }
        #McWrap{
        width: 90%;
        margin: 5%;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li {width: 12.5%;}
    .days li {width: 12.5%; height: 40px;}
    .days li .active {padding: 2px;}
    #mytopnav a, #navlogin {
        font-size: 11px;
        padding: 14px 5px;
    }
    #McWrap{
        width: 100%;
        margin: 0px;
    }
}

@media screen and (max-width: 320px) {
    .weekdays li {width: 12.2%;}
    .days li {width: 12.2%; height: 30px;}
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    border-radius: 7px 7px 0 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a:active {
    background-color: sandybrown;
    color: white;
}
